/*
	@ Harris Christiansen (Harris@HarrisChristiansen.com)
	2016-01-25
	For: Purdue Hackers - Battleship
	Battleship Admin
*/

body {
	padding-top: 70px;
}

/* ------------------------ Title Page ------------------------- */

.titlePage {
	padding: 40px 15px;
	text-align: center;
	font-weight: 100;
    font-family: 'Lato';
}
.titlePageTitle {
	font-size: 108px;
}
.titlePageSub {
	font-size: 75px;
}