/*
	@ Harris Christiansen (Harris@HarrisChristiansen.com)
	2016-01-25
	For: Purdue Hackers - Battleship
	Battleship Admin
*/

.mainContentContainer {
	position: fixed;
	width: 100%;
	height: 100%;
}

/* ------------------------ Title Page ------------------------- */

.titlePage {
	padding: 40px 15px;
	text-align: center;
	font-weight: 100;
    font-family: 'Lato';
}
.titlePageTitle {
	font-size: 108px;
}
.titlePageSub {
	font-size: 75px;
}

.enterViewerLink {
	font-family: sans-serif;
	font-size: 18px;
	color: #333333;
	text-decoration: none;
	
	position: fixed;
	bottom: 10px;
	left: 0px;
	width: 100%
}
.enterViewerLink:hover {
	text-decoration: none;
	color: #379cfc;
}

/* ------------------------ Sidebar ------------------------- */

/* Hide for mobile, showlater */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/* ------------------------ Game Viewer ------------------------- */

